@font-face {
    font-family: "digitalDisplay";
    src: url("/font/Digital Display.ttf");
}

.table>thead>tr>th {
    padding: 15px !important;
}

.circle_front {
    width: 60%;
    background: white;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    margin: auto;
    box-shadow: 2px 2px 2px #41698d;
}

.numTrain {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    background-color: white;
    width: 18px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    z-index: 4;
}

.rectangle {
    width: 100%;
    height: 1px;
    background: black;
    position: absolute;
    z-index: 1;
    display: none;
}

.myBar {
    width: 100%;
    position: relative;
    z-index: 6;
    height: 8px;
    background-color: darkorange;
    transform: rotate(180deg);
    top: 1px;
}

.nomGare {
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.horaire {
    font-size: 12px;
    margin: -3px;
}

th {
    text-align: center;
}

tr {
    border-style: dashed;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: black;
}

.ltr1 {
    left: 4.55% !important;
}

.ltr2 {
    left: 13.65% !important;
}

.ltr3 {
    left: 22.75% !important;
}

.ltr4 {
    left: 31.85% !important;
}

.ltr5 {
    left: 40.95% !important;
}

.ltr6 {
    left: 50.05% !important;
}

.ltr7 {
    left: 59.15% !important;
}

.ltr8 {
    left: 68.25% !important;
}

.ltr9 {
    left: 77.35% !important;
}

.ltr10 {
    left: 86.45% !important;
}

.ltr11 {
    left: 95.55% !important;
}

.rtl11 {
    left: 58px !important;
}

.rtl10 {
    left: 130px !important;
}

.rtl9 {
    left: 202px !important;
}

.rtl8 {
    left: 274px !important;
}

.rtl7 {
    left: 346px !important;
}

.rtl6 {
    left: 418px !important;
}

.rtl5 {
    left: 490px !important;
}

.rtl4 {
    left: 562px !important;
}

.rtl3 {
    left: 634px !important;
}

.rtl2 {
    left: 706px !important;
}

.rtl1 {
    left: 778px !important;
}

.toggle-off {
    padding: 9px;
    font-size: 12px;
    font-weight: bold;
    background-color: #ed7d31;
    color: #f5f5f5;
}

.toggle-off {
    padding: 9px;
    font-size: 12px;
    font-weight: bold;
    background-color: #ed7d31;
    color: #f5f5f5;
}

label.switch {
    text-align: left;
    width: 50px;
    height: calc(50px / 2);
    border-radius: 60px;
    background-color: #004abd;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

label.switch>span {
    display: block;
    width: 100%;
    height: 100%;
}

label.switch>input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

label.switch>span:before,
label.switch>span:after {
    content: "";
    cursor: pointer;
    position: absolute;
}

label.switch>input[type="checkbox"]:focus~span {
    box-shadow: 0 0 0 4px #004abd;
}

label.switch>input[type="checkbox"]:checked:focus~span {
    box-shadow: 0 0 0 4px #a6c9ff;
}

label.switch>span {
    border-radius: 60px;
}

label.switch>span:before {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: opacity .2s ease-out .1s, transform .2s ease-out .1s;
    transform: scale(1);
    opacity: 1;
}

label.switch>span:after {
    top: 50%;
    z-index: 3;
    transition: transform .4s cubic-bezier(0.44, -0.12, 0.07, 1.15);
    width: calc(50px / 2);
    height: calc(50px / 2);
    transform: translate3d(0, -50%, 0);
    background-color: #a6c9ff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

label.switch>input[type="checkbox"]:checked~span:before {
    transform: scale(0);
    opacity: .7;
}

label.switch>input[type="checkbox"]:checked~span:after {
    transform: translate3d(100%, -50%, 0);
}